WGUI_SERVER_INTERFACE_ADDRESSES=10.252.1.1/24
WGUI_SERVER_POST_UP_SCRIPT=iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
WGUI_SERVER_POST_DOWN_SCRIPT=iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
WGUI_USERNAME=admin
WGUI_PASSWORD=admin
WGUI_MANAGE_START=true
WGUI_MANAGE_RESTART=true
TZ=Asia/Yekaterinburg
